@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#27272a 50%, #eca200 50%);
}
.container{
    width: 450px;
    height: 650px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container img{
    width: 200px;
    height: 200px;
}
p#runBtn, .container button{
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background: #0b5cff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.container button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
p{
    font-size: 20px;
    font-weight: 600;
    color: #818181;
}
span{
    font-weight: 600;
    color: #090931;
}